<li id = "comment-<%= comment._id %>">
    <p>
        <!-- <%=locals.user%> -->
        <% if(locals.user && locals.user.id == comment.user.id){%>
            <small>
                <a class="delete-comment-button" href="/comments/destroyComment/<%= comment.id%>">X</a>
            </small>
        <%}%>
    <p> comment :
        <%= comment.content%>
        <br>
        <small>
            <%= comment.user.name%>
        </small>
    </p>
</p>
</li>