<link rel="stylesheet" href="<%= assetPath('css/home.css') %>">
<link rel="stylesheet" href="<%= assetPath('css/chat_box.css') %>">
        <h1>CODEHUB | HOME</h1>
<div id="home-container">
        <section id="feed-posts">
            <div id="post_head_form">
                

                <!-- if user is authorised then only we are moved to home page for creating post -->
                <%if(locals.user){%>
                    <p style="color: white;">Tell Your Friends about your day!!</p>
                <form action="/posts/createPost" id="new-post-form" method="POST">
                    <textarea name="content" cols="30" rows="3" placeholder="Type Here..."  id="textarea-id" required></textarea><br><br>
                    <input type="submit" value="Post" id="sbmt-btn">
                </form>
                <% } %>
            </div>
            <div id="posts-list-container">
                <ul>
                    <%for(post of posts){%>
                        <%- include('_post') -%>
                    <%}%>
                </ul>
            </div>
        </section>

        <section id="user-friends">
            <h4>Friends</h4>
            <% for(u of all_users){%>
                <p>
                    <a href="/users/profile/<%= u.id%>"><%= u.name%></a>
                </p>
            <%}%>
        </section>
        
    <%- include('_chat_box') -%>
</div>

<!-- importing this script for creating the comments -->
<script src="<%= assetPath('js/1home_comments.js') %>"> </script>
<script src="<%= assetPath('js/1home_posts.js') %>"> </script>



<!-- CHANGE :: import the script file for toggle likes, also run it over for the already present posts and comments on the page -->
<script src="<%= assetPath('js/1toggle_likes.js') %>"> </script>
<script>
    $('.toggle-like-button').each(function(){
        let self = this;
        let toggleLike = new ToggleLike(self);
    });
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.1/socket.io.js"></script>
<script src="<%= assetPath('js/chat_engine.js') %>"> </script>
<% if (locals.user){ %>
<script>
    new ChatEngine('user-chat-box', '<%= locals.user.email %>')
</script>
<% } %>