<link rel="stylesheet" href="/css/home.css">
        <h1>
            CODEHUB / <%= title %>
        </h1>

<section id="feed-posts">
    <h4>Posts</h4>
    <%if(locals.user){%>
    <form action="posts/createPost" id="new-post-form" method="POST">
        <textarea name="content" cols="30" rows="3" placeholder="Type Here..." required></textarea>
        <input type="submit" value="Post">
    </form>
    
    <% } %>
    <div class="posts-list-container">
        <ul>
            <%for(post of posts){%>
                <li>
                    <p>
                        <%= post.content %> <br> 
                        <small><%= post['user']['name'] %></small>
                    </p>
                    <!-- for every post we need comment -->
                    <div class="post-comments">
                        <!-- now i need to show form but only to them who are signed in -->
                        <% if (locals.user){%>
                            <!-- using post to send data -->
                            <form action="comments/createComment" method="POST">
                                <input type="text" name="content" placeholder="Type here to add comment.." required>
                                <!-- sending the id of this comment to post id for which we r commenting -->
                                <input type="hidden" name="post" value="<%= post._id%>">
                                <input type="submit" value="Add Comment">
                        
                            </form>
                        <%}%>
                        <div class="post-comments-list">
                            <ul id="post-comments-<%= post._id %>">
                                <%for (comment of post.comments){%>
                                    <hr>
                                    <p> comment :
                                        <%= comment.content%>
                                        <br>
                                        <small>
                                            <%= comment.user.email%>
                                        </small>
                                    </p>
                                    <hr>
                                <%}%>
                            </ul>
                        </div>
                    </div>
                </li>
        
            <%}%>
        
            </ul>
    </div>
</section>
