<html>
    <head>
        <title>
            <%= title %>
        </title>
        <link rel="stylesheet" href="/css/layout.css">
        <link rel="stylesheet" href="/css/header.css">
        <link rel="stylesheet" href="/css/footer.css">
        <!-- <link rel="stylesheet" href="/css/footer"> -->

        <!-- to include style from other partials/files,folders -->
        <%- style %>
    </head>
    <body>
        <!-- referred from ejs documentation -->
            <%- include('_header');%>
        <main id="layout-main">
            <%- body%>
        </main>
        
        
            <%- include('_footer');%>

        <%- script  %>
    </body>
</html>