<link rel="stylesheet" href="/css/user_profile.css">
        <h1>
            CODEHUB
        </h1>
        <h3>Welcome <%= user.name%>! </h3> 
<!-- updating user profile link step 1 -->
    <% if(user.id == profile_user.id){%>
        <!-- if user matches show the form -->
        <form action="/users/update/<%=profile_user.id%>" method="POST">
            <input type="text" name="name" placeholder="your name" value="<%=profile_user.name%>" required>
            <input type="text" name="email" placeholder="your email" value="<%=profile_user.email%>" required>
            <input type="submit" value="update">
        </form>
        <%}else{%>
              <!-- else show only the profile info -->
            <p><%= profile_user.name%></p>
            <p><%= profile_user.email%></p>
    <%}%>
        <!-- <form action="/users/createprofile" method="POST">
            <input type="email" placeholder="email" name="email" required>
            <input type="password" placeholder="password" name="password" required>
            <input type="password" placeholder="confirm password" name="confirm_password" required>
            <input type="submit" value="confirm">
        </form> -->

        